
  <!-- <nz-layout>
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item nzSelected routerLink="/">Home</li>
        <li nz-menu-item routerLink="/login">Login</li>
      </ul>
    </nz-header>

  </nz-layout> -->
  <!-- <nz-footer
class="nz-footer p-3"
nzTheme="light">© 2022, Excellerent , Pipeline. All right reserved
</nz-footer> -->
<exec-epp-page-header *ngIf="isLogin"></exec-epp-page-header>
  <router-outlet></router-outlet>
<exec-epp-page-footer></exec-epp-page-footer>
