<!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="name"
      nzRequired
    >
      <span>Name</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
      <input nz-input id="name" formControlName="name" [(ngModel)]="registerData.name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" [(ngModel)]="registerData.email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
      <input
        nz-input
        type="password"
        id="password"
        formControlName="password"
        (ngModelChange)="updateConfirmValidator()"
        [(ngModel)]="registerData.password"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword" [(ngModel)]="registerData.confirmPassword"/>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" (click)="registerUser()">Register</button>
    </nz-form-control>
  </nz-form-item>

</form> -->



<div class="container" >

  <div class="leftSide">
     <div  class="img-fast-forward">
         <!-- <img src="assets/images/imgFastForward.png" height="739px" width="800px"> -->
         <img src="assets/imgFastForwardCopy.png" >
     </div>
 </div>

 <div class="rightSide">
         <div  class="excellerent-logo">
           <br><br><br><br><br><br><br><br>
             <img  src="../assets/Excellerent logo.jpg" width="150" alt="Excellerent Logo">
         </div>
         <div class="login-welcome-text">
             <p>Welcome,<br > Register your new login information</p>
         </div>
         <div>
          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="24"
                nzFor="name"
                nzRequired
              >
                <span>Name</span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
                <input nz-input id="name" formControlName="name" [(ngModel)]="registerData.name"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="email" id="email" [(ngModel)]="registerData.email"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                <input
                  nz-input
                  type="password"
                  id="password"
                  formControlName="password"
                  (ngModelChange)="updateConfirmValidator()"
                  [(ngModel)]="registerData.password"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>Confirm password</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword" [(ngModel)]="registerData.confirmPassword"/>
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Two passwords that you enter is inconsistent!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
             <div nz-row class="login-form-margin">

             </div>
             <!-- <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="registerUser()">Log in</button> -->
             <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button class="login-form-button" nz-button nzType="primary" (click)="registerUser()">Register</button>
                Alrady have a login account?
             <a routerLink="/">Login now!</a>
           <router-outlet></router-outlet>
              </nz-form-control>
            </nz-form-item>

           </form>
         </div>
 </div>

 </div>




